<input 
  type="{{type}}" 
  id="{{id}}" 
  name="{{name}}" 
  class="{{className}}" 
  placeholder="{{placeholder}}"
  {{#if value}}value="{{value}}"{{/if}}
  {{#if disabled}}disabled{{/if}}
  {{#if accept}}accept="{{accept}}"{{/if}}
/>
<label for="{{id}}" class="{{labelClassName}}">{{label}}</label>