<div class="auth">
  <main class="auth__container">
    <form class="auth__form">
      <h1 class="auth__title">Вход</h1>
      <div class="form__group">
        {{{loginInput}}}
      </div>
      <div class="form__group">
        {{{passwordInput}}}
        {{{forgotPasswordLink}}}
      </div>
      <div class="auth__footer">
        <div class="form__actions">
          {{{button}}}
        </div>
        {{{noAccountLink}}}
      </div>
    </form>
  </main>
  <div class="auth__background-line"></div>
  {{{navigationLinks}}}
</div>