<div class="modal-overlay" id="avatar-upload-modal">
  <div class="modal">
    {{{modalCloseButton}}}
    <div class="modal__content">
      <h2 class="modal__title">Загрузите файл</h2>
      <div class="modal__upload-area" id="drop-area">
        <p class="modal__description">Выберите файл на компьютере или перетащите его сюда</p>
        <div class="modal__file-input-wrapper">
          {{{modalFileInput}}}
        </div>
        <div class="modal__preview-container" id="preview-container">
          {{{modalPreviewImage}}}
        </div>
      </div>
      <div class="modal__actions">
        {{{modalUploadButton}}}
        {{{modalCancelButton}}}
      </div>
    </div>
  </div>
</div>