<div class="error">
  <main class="error__container">
    {{{errorCodeHeading}}}
    <div class="error__image">
      {{{catImg}}}
    </div>
    <div class="error__divider"></div>
    <p class="error__message">{{errorMessage}}</p>
    {{{backButton}}}
  </main>
  {{{navigationLinks}}}
</div>