<div class="modal-overlay" id="password-change-modal">
  <div class="modal">
    {{{modalCloseButton}}}
    <div class="modal__content">
      <h2 class="modal__title">Изменить пароль</h2>

      <form class="modal__form" id="password-change-form">
        <div class="modal__field">
          {{{oldPasswordInput}}}
        </div>

        <div class="modal__field">
          {{{newPasswordInput}}}
        </div>

        <div class="modal__field">
          {{{confirmPasswordInput}}}
          <span id="password-error" class="modal__error"></span>
        </div>

        <div class="modal__actions">
          {{{modalSaveButton}}}
          {{{modalCancelButton}}}
        </div>
      </form>
    </div>
  </div>
</div>